// 公共css
$c-primary: #1890FF;//新版主色
$c-secondary: #ff6900;//辅色
$c-accent: #c82126;//强调
$c-success:#5BC081; //成功
$c-danger:#F56C6C; //危险，错误
$c-warning:#F2A654; //警告
$c-border: #ddd;//边框
$c-icon: #bbb;//图标
$c-bg: #f7f7f7;
$c-title: #333;
$c-content: #666;
$c-description: #999;